# Git ignores files matching the following.
# Shared objects created by compilation in ROOT.
*.so
*.d
# Swap files when still open in vim.
*.swp
# Object files.
xams-build/CMakeFiles/
*.o
*.out
*.bin
results/
drawings/

